In [64]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sumit\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sumit\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sumit\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sumit\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sumit\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sumit\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [65]:
import pandas as pd
import numpy as np
#pthon Library

In [66]:
data=pd.read_csv("DataSet.csv")

In [67]:
data

   Exp     Sky  Air temp  Humidity     Wind  Water  Forecast  Enjoy Sport\t
0    1   Sunny      Warm    Normal   Strong   Warm      Same            Yes
1    2   Sunny      Warm      high   Strong   Warm      Same            Yes
2    3   Sunny      Warm    Normal   Strong   Warm    Change             No
3    4   Sunny      Warm      High   Strong   Cool    Change            Yes

In [68]:
concepts = np.array(data)[:,:-1]

In [69]:
concepts

array([[1, ' Sunny', ' Warm', ' Normal', ' Strong', ' Warm', ' Same'],
       [2, ' Sunny', ' Warm', ' high', ' Strong', ' Warm', ' Same'],
       [3, ' Sunny', ' Warm', ' Normal', ' Strong', ' Warm', ' Change'],
       [4, ' Sunny', ' Warm', ' High', ' Strong', ' Cool', ' Change']],
      dtype=object)

In [70]:
target = np.array(data)[:,-1]

In [71]:
target

array([' Yes', ' Yes', ' No', ' Yes'], dtype=object)

In [74]:
def train(con, tar):
    specific_h = None   # initialize first

    for i, val in enumerate(tar):
        if val == "yes":
            specific_h = con[i].copy()
            break

    if specific_h is None:
        return None   

    for i, val in enumerate(con):
        if tar[i] == "yes":
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = "?"

    return specific_h

In [75]:
print(train(concepts, target))

None